.wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.quote-box {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; /* Spacing between buttons */
}

/* Optional: Style for buttons */
.new-quote, .tweet-quote {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
}

.new-quote:hover {
    background-color: #003366; /* Change to your preferred color */
    color: #fff; /* White text on hover */
}

.tweet-quote {
    display: flex; /* To align icon and text */
    align-items: center;
    color: inherit; /* Inherit text color */
}

.tweet-quote:hover {
    color: #1da1f2; /* Twitter blue on hover */
}

@media  screen and (max-width: 420px) {
    .quote {
        font-size: 1.5rem;
    }
}