main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#quote-box {
    max-width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

#tweeter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: black;
    padding: 10px;
    height: 100%;
}

#tweet-quote {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

#new-quote {
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    height: 100%;
}