main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.new-quote {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

.tweet-quote {
    color: white;
    text-decoration: none;
}

.author {
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}